.contact-section{
    width: 100%;
    height: 130vh;
    background-color: rgb(255, 255, 255);
}

.contact {
  width: 90%;
  height: 120vh;
  margin-left: auto;
  margin-right: auto;
  color: azure;
  font-size: x-large;
  font-family: "poppins";
}

.heading4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(32, 30, 30);
  font-size: 1.5rem;
  margin-top: 0%;
  padding-top: 5%;
}

.circle {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #684322;
  align-items: center;
}

.con-wrap{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 8%;
}


.con-wrap input{
  width: 60%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #e0d8d2;
  padding: 2%;
  border: none;
}

.con-wrap input::placeholder{
  color: black;
  font-family: poppins;
  font-size: larger;

}
.con-wrap textarea{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #e4ddd8;
  align-items: center;
  padding: 2%;
  border: none;

}
.con-wrap textarea::placeholder{
  color: black;
  font-family: poppins;
  font-size: larger;

}

#b6 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-family: poppins;
  background-color: #9c5433;;
  border: none;
  font-size: large;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.con-wrap a{
text-decoration: none;
}

  @media (min-width: 200px) and (max-width: 768px){
    .contact-section{
      width: 100%;
      height: 90vh;
      background-color: rgb(255, 255, 255);
  }
  
  .contact {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    font-size: x-large;
    font-family: "poppins";
  }
  
  .heading4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(32, 30, 30);
    font-size: 1.5rem;
    margin-top: 0%;
    padding-top: 5%;
  }
  
  .circle {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 3px;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #684322;
    align-items: center;
  }
  
  .con-wrap{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-top: 10%;
  }
  
  
  .con-wrap input{
    width: 100%;
    height: 8%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f8ece4;
    padding: 2%;
    border: none;
    text-align: start;
    
  }
  
  .con-wrap input::placeholder{
    color: black;
    font-family: poppins;
    font-size: larger;
    text-align: center;
  
  }
  .con-wrap textarea{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f8ece4;
    text-align: left;
    padding-top: 12%;;
    border: none;
    padding: 4%;
  
  }
  .con-wrap textarea::placeholder{
    color: black;
    font-family: poppins;
    font-size: larger;
    text-align: center;
  
  }
  
  #b6 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(252, 252, 252);
    font-family: poppins;
    background-color: #9c5433;;
    border: none;
    font-size: large;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  .con-wrap a{
  text-decoration: none;
  }
  }
  


@media (min-width: 769px) and (max-width: 992px){
  .contact-section{
    width: 100%;
    height: 130vh;
    background-color: rgb(255, 255, 255);
}

.contact {
  width: 90%;
  height: 120vh;
  margin-left: auto;
  margin-right: auto;
  color: azure;
  font-size: x-large;
  font-family: "poppins";
}

.heading4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(32, 30, 30);
  font-size: 1.5rem;
  margin-top: 0%;
  padding-top: 5%;
}

.circle {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #684322;
  align-items: center;
}

.con-wrap{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  margin-top: 10%;
}


.con-wrap input{
  width: 100%;
  height: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #e0d8d2;
  padding: 2%;
  border: none;
  text-align: start;
  
}

.con-wrap input::placeholder{
  color: black;
  font-family: poppins;
  font-size: larger;
  text-align: center;

}
.con-wrap textarea{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #e4ddd8;
  text-align: left;
  padding-top: 12%;;
  border: none;
  padding: 4%;

}
.con-wrap textarea::placeholder{
  color: black;
  font-family: poppins;
  font-size: larger;
  text-align: center;

}

#b6 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-family: poppins;
  background-color: #9c5433;;
  border: none;
  font-size: large;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.con-wrap a{
text-decoration: none;
}
  }


  @media (min-width: 993px) and (max-width: 1200px){
    
  }